{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <p>
                        <b>Транзакции</b> - На вкладке транзакций выводится список всех
                        операций по всем счетам, а так же форма для проводки новой транзакции.
                        Таблица интерактивная, с быстрым поиском по всем ячейкам, а так же
                        реализованны ссылки на счета и контрагента, указанных в операции.


                    </p>
                    <p>ВНИМАНИЕ!!! Невозможно провести транзакцию с пустыми значениями дебета, кредита, контрагента.</p>
                    <p>
                        <b>Контрагенты</b> - на данный момент, работают без интерактивного режима. Ищу способ тянуть
                        всю нужную информацию прямо с налоговой (по ИНН).
                    </p>
                    <p>
                        <b>Рабочая группа счетов</b> - позволяет использовать в работе только нужные счета.
                    </p>
                    <p>ВНИМАНИЕ!!! При удалении счета из рабочей группы,настоятельно рекомендуется
                        убедиться, что по нему нет транзакций. Транзакции будут удалены вместе со счетом.
                    </p>
                    <p>
                        <b>Отчеты</b> - Формирует именную выписку по выбранным счетам в таблицу EXCEL.
                        Отчет можно сохранить на диск или удалить.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}